<h1>Proyecto con ID:{{proyecto.id}} </h1>
<ul>
    <li>Nombre:{{proyecto.nombre}}</li>
    <li>Descripcion:{{proyecto.descripcion}}</li>
    <li>Duracion:{{proyecto.estado}}</li>
    <li>Nombre:{{proyecto.fechaFin}}</li>
    <li>Descripcion:{{proyecto.fechaIn}}</li>
    <li>Duracion:{{proyecto.resultados}}</li>
    <li>Duracion:{{proyecto.idConvenio}}</li>
    <li>Nombre:{{proyecto.idResponsable}}</li>
    <li>Descripcion:{{proyecto.idResolucion}}</li>
    <li>Duracion:{{proyecto.idTipo}}</li>
    
</ul>{# empty Twig template #}
